<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringMavenPostgresApplicationWithDebug" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="spring-maven-postgres" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.example.springmavenpostgres.SpringMavenPostgresApplication" />
    <option name="VM_PARAMETERS" value="-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5006" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>