<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringMavenPostgresApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot" nameIsGenerated="true">
    <module name="spring-maven-postgres" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.example.springmavenpostgres.SpringMavenPostgresApplication" />
    <option name="VM_PARAMETERS" value="-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>